body {
    font-size: 12px;
    color: #336699;
    scrollbar-face-color: #EBEEF1;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #dee3e7;
    scrollbar-3dlight-color: #d1d7dc;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #efefef;
    scrollbar-darkshadow-color: #98aab1;
    scrollbar-base-color: #d5e1ee
}

form {
    margin: 0px;
}


input,textarea,select {
    font-size: 12px;
    color: #336699;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

BUTTON, .submitButton {
    height: 22px;
    font-size: 12px;
    border: 1px solid #2c59aa;
    padding: 0px;
    cursor: pointer;
    color: black;
    background-color: #ffffff;
    FILTER:  progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#C3DAF5)
}
/*Login Style*/
body {
    text-align: center;
}

table {
    font-size: 12px;
    border-collapse: collapse
}

td.left {
    color: #336699;
    text-align: right;
    padding-right: 20px;
    border: #a8cbf1 1px solid;
    background-color: #f1f1f1
}

td.right {
    color: #336699;
    padding-left: 10px;
    border: #a8cbf1 1px solid;
    background-color: #ffffff
}

td.bottom {
    color: #336699;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

A:link, a:visited {
    color: #336699;
    text-decoration: none
}

A:active {
    color: #ff0000;
    text-decoration: none
}

A:hover {
    color: #6A9BCC;
    text-decoration: underline
}

.border {
    border: #7f7f7f 1px solid;
}

/*Login Style*/
#login {
    width: 780px;
    height: 500px;
    margin: 0px;
    text-align: center;
}
#loginHead{
	width: 780px;
	height: 50px;
}
#loginHead .logo{
	width: 300px;
	height: 65px;
	float: left;
	margin-left: -28px;
	margin-top: 20px;
}
#loginHead .topbar{
	width: 450px;
	line-height:25px;
    margin-top: 30px;
    margin-right: 23px;
    text-align: right;
    float: right
}

#loginContent{
	width: 780px;
	height: 400px;
	padding: 20px 20px 20px;
	margin: 0px -5px 0px 10px;
}

#loginHint{
	width: 430px;
    font: 14px;
    padding: 20px 20px 20px 20px;
	float: left;
	text-align: justify;
	
}
.qualityTitle{
	margin-bottom: 10px;
	padding: 1px;
	padding-left: 0px;
	padding-right: 0px;
    background: #cccccc
}
.hintTitle{
	color: #0882CE;
	padding: 0px 20px 20px 20px;
    margin-left:10px;
    font:bold;
    background: url(../images/icon/16x16/blue_dot.gif) no-repeat left top;
}

#loginForm{
	width: 270px;
	padding: 20px;
	float: left;
}

.login_table_bg{
	width: 270px;
    background: #cccccc
}
.login_table {
	border: #FFFFFF 2px solid;
	margin: 1px;
	background: #efefef
}

#loginFoot{
	width: 720px;
	background: #336699;
	height: 23px;
    line-height:23px;
    overflow:hidden;
    margin-left: 30px;
    color: white;
}

