<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" default-lazy-init="true"
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       	xmlns:aop="http://www.springframework.org/schema/aop" 
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <aop:config>
        <aop:advisor id="serviceTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.*(..))" order="2"/>
    </aop:config>
    
    <tx:advice id="txAdvice">
        <tx:attributes>
        	<tx:method name="save*" rollback-for="BusinessException"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    
    <bean id="testService" class="service.TestService" />
    <bean id="thinkingService" class="org.commonfarm.service.ThinkingService" />
   	<!-- Thinking App Security service about User -->
    <bean id="userService" class="org.commonfarm.service.UserService" />

    <!-- Add new Services here -->
</beans>
