
.ecsideWaitingBar {
	position:absolute;
	top:0px;
	left:0px;
	z-index:99;
	border:0px solid #336699;
	padding:2px;
	background-color: #DA3F52;
	color: white;
	display:none;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable {
	border :0px solid red;
	padding:0px;
	margin:0px;
}

.eXtremeTable .inputtext {
	border:1px solid #cc9966;
	font-size:12px;
	padding:0px;
	margin:0px;
	width:100%;
}

.eXtremeTable .breakLine {
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}
.eXtremeTable .breakLine TD {
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}


.eXtremeTable .noBreakLine {
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable .noBreakLine TD {
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable INPUT.radio {
	font-size:12px;
	width: auto;
}

.eXtremeTable INPUT.checkbox {
	font-size:12px;
	width: auto;
}


.eXtremeTable select {
	
	border: solid 1px #EEEEEE;
	width: 75px;
}

.eXtremeTable button{
	background-color:transparent;
	background-image:url(../../images/ecside/button1.gif);
	background-repeat: repeat-x;
	border: outset 1px  #bbbbbb;
	border-collapse:  separate;
	vertical-align: bottom;
	color:#333333;
	cursor:pointer;
	height:22px;
	width:80px;
	margin:3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}




.eXtremeTable .tableRegion {
	border:0px #ff00ff solid;
	padding:0px;
	margin:0px;
	font-size:13px;
	border-collapse: collapse;
	/* width:100%; */
	table-layout:fixed;
}

.eXtremeTable .tableRegion td {
	color:#000000;
	border:1px #cccccc solid;
	padding:2px;
	height:23px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	overflow:hidden;
}


.eXtremeTable .tableHeader , .eXtremeTable .tableRegion .tableHeader td {

background-image:url(../../images/ecside/u_bg01.gif);
background-color:#dddddd;
white-space:nowrap;word-break:keep-all;word-wrap:normal;

color:#3A3A3A;
font-weight:bolder;
height:24px;
text-align:center;

overflow:visible;
}




.eXtremeTable .tableHeaderSort {
background-image:url(../../images/ecside/u_bg01.gif);
background-color:#dddddd;
white-space:nowrap;word-break:keep-all;word-wrap:normal;
overflow:hidden;
color:#3A3A3A;
font-weight:bolder;
height:24px;
text-align:center;
}





.eXtremeTable  .resizeTitle {
	float:left;
	width:90%;
	text-align:center;

}

.eXtremeTable  .resizeBar {
	padding: 0px;
	margin: 0px; 
	float:right;
	cursor:e-resize;
	width:3px;
	height:15px;
	font-size:1px;
	vertical-align: top;
	background-color:#cccccc;
	display:inline;
}





.eXtremeTable .sortASC {
	background-image:url(../../images/ecside/sortAsc.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:10px;
	padding:0px 0px 0px 0px;
	display:inline;
}

.eXtremeTable .sortDESC {
	background-image:url(../../images/ecside/sortDesc.gif);
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height:5px;
	width:10px;
	padding:0px 5px 0px 5px;
	display:inline;
}

.eXtremeTable .tableRegion .editableColumn {
  color:#883A3A;
}


.eXtremeTable .shadowRow a, .even a {
	color: Black;
}

.eXtremeTable .shadowRow td{
	background-color: #ecf3ee;
	/* border:2px solid #ffffff; */
}

.eXtremeTable .odd a, .even a {
	color: Black;
}

.eXtremeTable .odd td{
	background-color: #FFFFFF;
}



.eXtremeTable .even td{
  	background-color: #f3f4f3;

}

.eXtremeTable .highlight td {
	background-color: #ddeeff;
	
}

.eXtremeTable .highlight a, .highlight a {
	color: black;
}

.eXtremeTable .selectlight td {
	background-color: #ffeedd;	
}

.eXtremeTable .selectlight a, .selectlight a {
	color: black;
}


.eXtremeTable .odd DIV.ellipsis , .eXtremeTable .even DIV.ellipsis , .eXtremeTable .highlight DIV.ellipsis , .eXtremeTable .selectlight DIV.ellipsis  {
	text-align:left;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	color:#3a3a3a;
	width: 100%; 
}

.eXtremeTable .odd .editedCell , .eXtremeTable .even .editedCell ,.eXtremeTable .highlight .editedCell ,.eXtremeTable .selectlight .editedCell  {
	background-color:#fff3f0;
}

.eXtremeTable .calcRow td{
  	background-color: #f6f6f6;
}
.eXtremeTable .calcRow .calcResult {
  	background-color: #f6f6f6;
}
.eXtremeTable .calcRow .calcTitle {
  	background-color: #eeeeee;
  	text-align:center;
	letter-spacing: 1px;
	font-weight : bolder;
}


.eXtremeTable .filter {
	background-color: #ffffff;
}
.eXtremeTable .filter td {
	background-color: #ffffff;
}
.eXtremeTable .filter input {
	width: 100%;
	height:19px;
}

.eXtremeTable .filter select {
	font-family: Verdana;
	border: solid 1px #EEE;
	width: 100%;
}

.eXtremeTable .filterButtons {
	background-color: #efefef;
	text-align: right;
}

.eXtremeTable .titleRow {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;

}

.eXtremeTable div.title {
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	vertical-align: middle;
	text-align:center;
}



.eXtremeTable .titleRow span {
	width:100%;
	text-align:center;
}


.eXtremeTable .formButton {
	background-color:transparent;
	background-image:url(../../images/ecside/button1.gif);
	background-repeat: repeat-x;
	border: outset 1px  #bbbbbb;
	border-collapse:  separate;
	vertical-align: bottom;
	color:#333333;
	cursor:pointer;
	height:22px;
	width:80px;
	margin:3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}

.eXtremeTable .exportButton {
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px  #dddddd none;
	width:20px;
	height:18px;
	cursor:pointer;
	display:inline;
}


.eXtremeTable .exportXls {
	background-image:url(../../images/ecside/xls.gif);
}

.eXtremeTable .exportPdf {
	background-image:url(../../images/ecside/pdf.gif);
}

.eXtremeTable .exportCsv {
	background-image:url(../../images/ecside/csv.gif);
}

.eXtremeTable .pageNav {
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px  #dddddd none;
	width:24px;
	height:25px;
	cursor:pointer;
	vertical-align: -2px;
}

.eXtremeTable .jumpPage {
	background-image:url(../../images/ecside/gotoPage.gif);

}
.eXtremeTable .firstPage {
	background-image:url(../../images/ecside/firstPage.gif);
}

.eXtremeTable .prevPage {
	background-image:url(../../images/ecside/prevPage.gif);
}

.eXtremeTable .nextPage {
	background-image:url(../../images/ecside/nextPage.gif);
}

.eXtremeTable .lastPage {
	background-image:url(../../images/ecside/lastPage.gif);
}

.eXtremeTable .firstPageD {
	background-image:url(../../images/ecside/firstPageDisabled.gif);
}

.eXtremeTable .prevPageD {
	background-image:url(../../images/ecside/prevPageDisabled.gif);
}

.eXtremeTable .nextPageD {
	background-image:url(../../images/ecside/nextPageDisabled.gif);
}

.eXtremeTable .lastPageD {
	background-image:url(../../images/ecside/lastPageDisabled.gif);
}

.eXtremeTable .toolbar select {
	width:50px;
	font-size:11px;
	font-family: Verdana;
}

.eXtremeTable .toolbar .toolbarTable{
	border:1px black solid;
	border-top:0px;
	border-bottom:1px black solid;
	width:100%;
}
.eXtremeTable .toolbar .toolbarTable td {
	border:0px none red;
	font-size: 13px;
}

.eXtremeTable .toolbar .toolbarTable .statusTool {
	border:0px solid red;
	padding-top:2px;
	text-align: right;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable .pageNavigationTool {
	width:100px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

/* if nearPageNum=0 then width:100px; */
.eXtremeTable .pageNavigationNearPageTool {
	width:230px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable .pageNavigationNearPageTool A {
	width:12px;
}

.eXtremeTable .pageJumpTool {
	width:95px;
}

.eXtremeTable .jumpPageInput {
	height:19px;
	width:25px;
	margin-top:0px;
	/* border:1px solid #aaaaaa; */
}

.eXtremeTable .pageSizeTool {
	padding-top:2px;
	width:90px;
}


.eXtremeTable  .extendTool {
	text-align:center;
	width:100px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable  .extendTool A {
	display:inline;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable  .exportTool {
	text-align:center;
	width:95px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.eXtremeTable .exportXls {
	background-image:url(../../images/ecside/xls.gif);
}

.eXtremeTable .exportPdf {
	background-image:url(../../images/ecside/pdf.gif);
}

.eXtremeTable .exportCsv {
	background-image:url(../../images/ecside/csv.gif);
}

.eXtremeTable .exportPrint {
	background-image:url(../../images/ecside/print.gif);
}


.eXtremeTable  .separatorTool {
	font-size:1px;	
}

.eXtremeTable  .blankTool {
	width:10%;	
}





.eXtremeTable  .hideListRow {
	height:0px;
	font-size:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	border-top:0px;
	border-bottom:0px;
}

.eXtremeTable  .hideListRow td {
	font-size:0px;
	height:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	border-top:0px;
	border-bottom:0px;
}


.eXtremeTable  .headerScrollX {
overflow:hidden;
padding:0px;
margin:0px;
border:0px red solid;

}

.eXtremeTable  .bodyScrollY {
overflow-x:hidden;
overflow-y:auto;
padding:0px;
padding-right:0px;
margin:0px;
border:0px red solid;
}

.eXtremeTable  .bodyScrollX {
overflow-x:auto;
overflow-y:hidden;
padding:0px;
margin:0px;
border:0px red solid;
}

.eXtremeTable  .bodyScrollX span {

}



@media print {

img { visibilty:hidden }
textarea  {display:none}
input  {display:none}
select  {display:none} 
.noprint {display:none} 
.toolbar {display:none} 
	.eXtremeTable .tableRegion td {
	color:#000000;
		border:0px #cccccc none;
		padding:3px;
		height:25px;
		white-space:normal;word-break:normal;word-wrap:normal;
		border-bottom:1px #cccccc solid;
		overflow:visible;
	}
.eXtremeTable .tableRegion .tableHeader {

	border:1px #aaaaaa solid;
	background-color:#aaaaaa;
	/* padding:2px; */
	padding:2px;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	color:#000000;
	font-weight:bolder;
	height:24px;
	text-align:center;
	overflow:hidden;
}

.eXtremeTable .odd DIV.ellipsis , .eXtremeTable .even DIV.ellipsis , .eXtremeTable .highlight DIV.ellipsis , .eXtremeTable .selectlight DIV.ellipsis  {
	text-align:left;
	overflow: visible; 
	white-space:normal;word-break:normal;word-wrap:normal;
	color:#3a3a3a;
	width: 100%; 
}


} 

